*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: url('/ProjetoBlackBird/img/imagemPrincipal.png') no-repeat center center fixed; /* Adicione a URL da imagem de fundo */
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(67, 67, 67, 0.546);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container h1 {
    color: white    ;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4641419d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: #ccc;
    background-color: #ffffff;
}

p {
    text-align: center;
    margin-top: 15px;
}
